:host{
    flex:1;
    display: flex;
	padding-top: 0.25rem;
}

@media (min-width: 50rem){
	:host{
		padding-top:0;
		padding-left: 0.25rem;
	}
}

.directioncontrol-box{
	background:white;
	touch-action:none;
    pointer-events: none;
    flex:1;
}

.directioncontrol-knob{
	width: 40px;
	height: 40px;
	border-radius:50%;
	-webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	 box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	background:darkgray;
	touch-action:none;
    pointer-events: none;
}