:host{
    flex: 1;
    flex-flow: column nowrap;
}

.option-row{
    flex:1;
    display: flex;
    justify-content: space-between;
}

.option-btn{
    display: flex;
    outline: 0;
    cursor: pointer;
    margin: 5px;
    border:1px solid black;
    color: #ffffff;
    border-radius: 50%;
    font-family: Verdana;
    width: 4rem;
    height: 4rem;
    font-size: 12px;
    box-shadow: 1px 1px 3px 0 var(--button-shadow-color);
    -moz-box-shadow: 1px 1px 3px 0 var(--button-shadow-color);
    -webkit-box-shadow: 1px 1px 3px 0 var(--button-shadow-color);
    text-shadow: 0 1px 2px #000000;
    background-color: var(--light-primary-color);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 17px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.option-btn.option-active{
    background-color: var(--default-primary-color);
}

.option-btn_image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.option-btn:active{
    border:1px solid black;
    color: #ffffff;
    box-shadow: 0 0 0 0 var(--button-shadow-color);
    -moz-box-shadow: 0 0 0 0 var(--button-shadow-color);
    -webkit-box-shadow: 0 0 0 0 var(--button-shadow-color);
    background-color: var(--accent-color);
}

.option-btn[disabled]{
    opacity: 0.1;
}

.option-btn-disconnect{
    border-color: red;
}