<div class="option-row">
  <button class="option-btn" [disabled]="!model?.hasFrontLightFeature" (click)="model.frontLightIsEnabled = !model.frontLightIsEnabled">Lights</button>
  <button class="option-btn" [disabled]="!model?.hasTrunkFeature" (click)="model.trunkIsOpen = !model.trunkIsOpen">Trunk</button>
  <button class="option-btn option-btn-disconnect" (click)="disconnect()">Close</button>
</div>
<div class="option-row">
  <button class="option-btn" [disabled]="!model?.hasBlinkFeature" (click)="model.blinkLeft = !model.blinkLeft">
    <img class="option-btn_image" src="assets/blink_left.svg"/>
  </button>
  <button class="option-btn" [disabled]="!model?.hasBlinkFeature">
      <img class="option-btn_image" src="assets/exclamationmark.svg"/>
  </button>
  <button class="option-btn" [disabled]="!model?.hasBlinkFeature" (click)="model.blinkRight = !model.blinkRight">
    <img class="option-btn_image" src="assets/blink_right.svg"/>
  </button>
</div>