.fill-space{
    flex: 1 1 auto;
}

.start-container{
    flex:1;
    display: flex;
    align-items: center;
}

.start-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.app-title-text {
    color: var(--text-primary-color);
}

.control-container{
    flex:3;
    display: flex;
    background:lightgray;
}

.option-container {
    flex:1;
    background: var(--option-container-back-color);
    display: flex;
}

:host{
    display: flex;
    flex-flow: column nowrap;
    flex: 3;
}

@media (min-width: 30rem){
    :host{
        flex-flow: row nowrap;
    }

    .control-container{
        flex:1;
    }
}