<div class="start-container" *ngIf="!currentModel">
  <div *ngIf="doesntSupportWebBluetooth">
    <div>WebBluetooth isn't available!</div>
    <div><b>For Google Chrome:</b><br />Set the WebBluetooth flag to 'enabled': <br /> <code>chrome://flags/#enable-web-bluetooth</code></div>
  </div>
  <div class="start-content" *ngIf="!doesntSupportWebBluetooth">
    <img src="favicon.png" height="50px" width="50px" />
    <span class="fill-space app-title-text">LegoControl app</span>
    <button class="connect-btn" (click)="toggleConnectionStatus()">
      <img class="connect-btn_image connect-btn_animation" src="assets/bluetooth.svg"/>
      </button>
  </div>
</div>
<div class="option-container" *ngIf="currentModel">
  <car-options (onDisconnect)="doDisconnect()" [model]="currentModel"></car-options>
</div>
<div class="control-container" *ngIf="currentModel">
  <car-control [model]="currentModel"></car-control>
</div>