:host{
    flex:1;
    display: flex;
	padding-top: 0.25rem;
}

@media (min-width: 30rem){
	:host{
		padding-top:0;
		padding-left: 0.25rem;
	}
}

.directioncontrol-box{
	background: white; /* For browsers that do not support gradients */
  	background: -webkit-radial-gradient(circle, var(--light-primary-color),var(--default-primary-color)); /* Safari 5.1 to 6.0 */
  	background: -o-radial-gradient(circle, var(--light-primary-color), var(--default-primary-color)); /* For Opera 11.6 to 12.0 */
  	background: -moz-radial-gradient(circle, var(--light-primary-color),var(--default-primary-color)); /* For Firefox 3.6 to 15 */
  	background: radial-gradient(circle, var(--light-primary-color),var(--default-primary-color)); /* Standard syntax */
	touch-action:none;
    pointer-events: none;
    flex:1;
}

.directioncontrol-knob{
	width: 40px;
	height: 40px;
	border-radius:50%;
	-webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	 box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	background:var(--accent-color);
	touch-action:none;
    pointer-events: none;
}