:host{
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.option-row{
    flex:1;
    display: flex;
}

.option-btn{
    cursor: pointer;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    outline: none;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    flex:1;
    margin:0.1rem;
}

.option-btn-disconnect{
    border-color: red;
}