:root {
    --dark-primary-color:    #0097A7;
    --default-primary-color: #00BCD4;
    --light-primary-color:   #B2EBF2;
    --text-primary-color:    #FFFFFF;
    --accent-color:          #607D8B;
    --primary-text-color:    #212121;
    --secondary-text-color:  #727272;
    --divider-color:         #B6B6B6;

    --option-container-back-color: #FFFFFF;
    --button-shadow-color:   #000000;
}
.root{
    display: flex;
    flex:1;
}

html, body{
    margin: 0;
    height: 100%;
    width:100%;
    background: var(--default-primary-color);
}

body{
    display:flex;
}

.startup-container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.startup-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startup-text {
    color: var(--text-primary-color);
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: var(--text-primary-color);
}

.connect-btn{
    margin-top:1rem;
    cursor: pointer;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    outline: none;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

.connect-btn_image{
    width: 5rem;
}

.connect-btn_animation{
  animation-duration: 1s;
  animation-name: scaleUpDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scaleUpDown {
  from {
    transform: scale(1);
    -webkit-filter:grayscale(1);
  }
  
  to {
    transform:scale(1.1);
    -webkit-filter:grayscale(0);
  }
}